/* tilføjet for at være sikker på der ikke er en indbygget kant + ALLE ELEMTER MEDREGNER PADDING OG BORDER I DERES STØRRELSE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("images/overskrift-forside.jpg");
}

/* NAVIGATION START */
#navlogo {
  display: block;
  margin: 10px auto;
  width: 150px;
}

nav {
  display: flex;
  width: 100%;
  height: 50%;
  background: #eee;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
  margin: 0 40px;
}

#logo {
  width: 200px;
  height: 100%;
}
/* NAVIGATION END */
